/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* Header Styling */
header {
    background-color: #f7b42c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Navigation Menu Styling */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
    color: white;
    cursor: pointer;
}

/* Welcome Section */
.welcome-section {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    margin: 20px 0;
}

/* Feature Section */
.feature-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature-section div {
    background-color: #ffffff;
    padding: 20px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Challenge Section */
.challenge-section {
    background-color: #e0e0e0;
    padding: 40px;
    text-align: center;
    margin: 20px 0;
}

.challenge-details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.challenge-details div {
    background-color: #ffffff;
    padding: 10px;
    width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Instructor Section */
.instructor-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.instructor-section div {
    width: 45%;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin-top: 10px;
}

footer ul li {
    margin-bottom: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }